@font-face {
    src: url(romantica-font/Romantica-RpXpW.ttf);
    font-family: signature;
}
@font-face {
    font-family: strange;
    src: url(StrangeDreams-ZVRzl.ttf);
}

    /* --goldcolor: rgb(207,150,69); */
    
/* Fonts  */
/* font-family: 'Alex Brush', cursive;
font-family: 'Cinzel', serif;
font-family: 'Italianno', cursive;
font-family: 'Pinyon Script', cursive;
font-family: 'Quattrocento Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* General  */

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    /* padding: 2rem 0; */
    font-family: Italianno;
    letter-spacing: 0.1rem;
    font-size: 4rem;
}

h2{
    padding-bottom:  1rem;
}

h3{
    font-family: Cinzel;
}
p{
    font-family: Quattrocento Sans;
    font-size: 1.5rem;
    padding: 1.5rem;
}

body{
    background-image: linear-gradient( rgba(236, 207, 207, 0.859),rgba(225, 189, 189, 0.372), rgba(97, 117, 91, 0.464), rgb(64, 100, 54));
    /* background-color: rgb(246, 249, 247); */
    font-family: 'EB Garamond', serif;
    transition: 2s;
}

/* NavBar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(236, 207, 207, 1);
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgb(107, 77, 77);
}

.ss-logo{
    font-family: signature;
    padding: 0.5rem;
    font-size: 2rem;
}

.ss-logo::after{
    content: "Ss.";
}

#nav-list{
    display: flex;
    align-items: center;
    gap: 3rem;
}

#nav-list :hover{
    color: rgb(64, 100, 54);
}

.nav-title{
    font-family:Cinzel ;
}

/* switch button  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgb(64, 100, 54);
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: rgb(252, 238, 238);
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color:  rgb(161, 114, 48);
}

input:focus + .slider {
box-shadow: 0 0 1px  rgb(161, 114, 48);
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
/* background-color: white; */
}

/* About me container  */
.containers{
    display: flex;
    margin: 0 18%;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    text-align: center;
    /* gap: 3rem; */
    /* flex-wrap: wrap; */
}

.project-main{
    display: flex;
    /* margin: 0 18%; */
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}


.subtitulo{
    font-family:Cinzel;
    word-break: keep-all;
    
}

#about-me{
    margin-top: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.text-about h1 span{
    color: rgb(5, 40, 5);

}
.photo{
    width: 20rem;
    border-radius: 50%;
    border: 0.4rem solid rgb(203, 204, 204);
    /* transition: 1s; */
}


button{
    padding: 0.6rem;
    border-radius: 0.5em;
    border: none;
    background-color:rgba(236, 207, 207, 1);
    font-family: Quattrocento Sans;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 1.2rem;
    text-align: center;
}

button :hover{
    color: rgb(64, 100, 54);
}

.grow:hover{
    transform: scale(1.1);
}

/* Projects Container */
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.proj-h1{
padding-bottom: 2rem;
}

.projects li{
    padding-bottom: 2rem;
    /* border: 3px solid grey;  */
    width: 10rem;
    height: 10rem;
    text-align: center;
    padding: 2rem 5rem;
}

.projects img {
    width: 10rem;
    border-radius: 20%;
    height: 8rem;
    -webkit-filter: grayscale(100%); /*Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.9;
}

.projects img:hover{
    -webkit-filter: grayscale(10%); /*Safari 6.0 - 9.0 */
    filter: grayscale(10%);
    opacity: 0.9;
}

.tech{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.tech p{
    font-size: 0.8rem;
    border: 1px dotted rgb(209, 134, 147);
    color: rgb(209, 134, 147);
    padding: 0.1rem 0.3rem;
    margin: 0.3rem;
}

.project-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 0.5rem;
}
.project-links a img{
    height: 2.5rem;
    width: 2.5rem;
}


/* Contact Container  */
.contact {
    margin: 3rem 0 2rem 0 ;
}

#contact img{
    height: 70%;
    width: 70%;
}

/* Footer  */
footer{
    background-color: rgb(64, 100, 54) ;
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
    box-shadow: 1px -2px rgb(44, 72, 37);

}

footer p{
    font-family: Cinzel;
    font-size: 0.8rem;
}


/* Dark Mode  */
body.dark{
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.912),rgba(4, 4, 4, 0.812), rgba(4, 18, 4, 0.718));
    color: rgb(245, 233, 233);
    /* transition: 2s; */
}

/* Dark Mode NavBar  */
body.dark nav{
    background-color: black;
    color: rgb(211, 210, 210);
    box-shadow: 0 2px 4px rgb(13, 14, 13);
}

body.dark nav ul li a{
    color: rgb(211, 210, 210);
}

body.dark .ss-logo{
    font-family: signature;
    padding: 0.5rem;
    font-size: 2rem;
    color: rgb(211, 210, 210);
}

body.dark #nav-list :hover{
    color:rgb(207,150,69);
}
body.dark h1{
    font-family: strange;
    font-size: 2rem;
    color: rgb(161, 114, 48);
}

body.dark .text-about h1 span{
    color: rgb(161, 114, 48);
}

body.dark .subtitulo{
    font-family: cinzel;
    color: rgb(211, 210, 210);
}

body.dark #title-about{
    font-size: 4rem;
}
body.dark button{
    background-color: rgb(161, 114, 48);
}

body.dark .tech p{
    border: 1px dotted rgb(207,150,69);
    color: rgb(207,150,69);
}

body.dark .photo{
    border: 0.4rem solid rgb(25, 26, 26);
    content: url(imgs/dark.JPG);
}

body.dark .projects img{
    opacity: 0.6;
}

body.dark .project-links a img:hover{
    filter:invert();
}

body.dark #contact ul li a img:hover{
    filter: invert();
}

/* Dark Mode Footer  */
body.dark footer{
    background-color: rgb(1, 18, 1);
    color: rgb(156, 154, 154);
    box-shadow: 1px -2px rgb(25, 26, 25);
}



/* Responsiveness  */

.burger-btn{
    position: absolute;
    /* top: 0.75rem; */
    padding: 0.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.4rem;
}

.burger-btn .bar{
    height: 2.5px;
    width: 100%;
    background-color: rgb(20, 19, 19);
    border-radius: 0.36em;
}


@media (max-width:700px){
    /* .burger-btn{
        display: none;
    }

    #nav-list{
        display: none;
    }

    .navbarLink.active{
        display: flex;
        
    }
    
    .navbar{
        flex-direction: column;
        
    }

    .navbar ul{
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
    
    } */

    .nav-title{
        display: none;
    }

    body.dark .project-links a img, body.dark #contact ul li a img{
        filter:invert();
    }

    .photo{
        display: none;
    }

    .containers, .projects{
        flex-direction: column;
    }


    .subtitulo{
        margin-top: 2rem;
        /* display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; */
    }


}